<h1 class="current-category"><%= params[:category] %></h1>

<% if @sources.count == 0 %>

	<h1>There are no sources currently in this category</h1>

<% else %>	

	<div class="row">

		<% @sources.each do |source| %>

			<div class="col-md-3">
				<a href="/sources/<%= source.id %>">
					<%= image_tag source.source_img.url(:source_index), class: "source" %>
				</a>
			</div>	

		<% end %>

	</div>
	
<% end %>	

<%= link_to "Add Source", new_source_path %>